body {
    margin: 60px auto;
    width: 60%;
    background-color:#eab126; 
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    background-color: #dfdce3;
    list-style: none;
    font-weight: bold;
    color: white;
    width: 100%;
    margin-right: 20px;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;


}
a {
    text-decoration: none;
    color: #465c8b;


}

a:hover {
    text-decoration: underline;
    color: #93c178;
    background-color: #dfdce3;

}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#name {
    color: black;
    background-color: #dfdce3;

}

.myHeader {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
}

.introduction {
    background-color: ;
    width: 75%;
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
}

img {
    width: 30%; 
    height: 30%; 
    border-radius: 50%;
    float: center;
    
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 3px solid black;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
